{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "semi": false,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "tabWidth": 2,
  "useTabs": false
}
